// overrides hmrc-header css language toggle focus styles
.hmrc-language-select {
  .govuk-list {
    a {
      &:focus {
            color: govuk-colour("black") !important;
            background-color: govuk-colour("yellow")
      }
    }
  }
  text-decoration: none;
}

/*
***********TODO review below ***********
*/

.no-border td{
    border-bottom: none;
}

@media (min-width: 641px) {
    .content__body {
        width: 65.5%;
    }
}
