// overrides hmrc-header css language toggle focus styles
.hmrc-language-select {
  .govuk-list {
    a {
      &:focus {
            color: govuk-colour("black") !important;
            background-color: govuk-colour("yellow")
      }
    }
  }
  text-decoration: none;
}

// Custom summary list widths for Agents
.agent-summary-list__key--long {
    @include govuk-media-query($from: tablet) {
    width: 80%
    }
}

.agent-summary-list__value--long {
    @include govuk-media-query($from: tablet) {
    width: 20%
    }
}

.agent-summary-list__key--short {
    @include govuk-media-query($from: tablet) {
    width: 10%
    }
}

.agent-summary-list__value--short {
    @include govuk-media-query($from: tablet) {
    width: 90%
    }
}
